<script type="text/javascript" src="<%= asset_path 'new_component_dialog_controller.js' %>"></script>
<md-content ng-controller="ComponentsController">
  <md-card ng-cloak>
    <md-toolbar class="md-table-toolbar md-default">
      <div class="md-toolbar-tools">
        <md-icon class="material-icons">search</md-icon>
        <form flex name="filter.form">
          <input autofocus class="search-bar" type="text" ng-model="query.filter" placeholder="Search">
        </form>
        <md-button class="md-icon-button" ng-click="query.filter = ''" aria-label="clear">
          <md-icon class="material-icons">clear_all</md-icon>
        </md-button>
        <md-button class="md-raised" ng-click="editing = !editing" ng-hide="editing" aria-label="edit">Edit</md-button>
        <md-button class="md-raised md-primary end-edit-button" ng-click="done()" ng-show="editing" aria-label="save">Done</md-button>
      </div>
    </md-toolbar>
    <md-table-container>
      <table md-table md-progress="componentsPromise">
        <thead md-head md-order="query.order">
        <tr md-row>
          <th md-column md-order-by="name"><span>Name</span></th>
          <th md-column md-order-by="system"><span>System</span></th>
          <th md-column md-order-by="details"><span>Inspection</span></th>
          <th md-column md-order-by="notes"><span>Notes</span></th>
          <th md-column md-order-by="muscles"><span>Muscles</span></th>
          <th md-column md-order-by="palpations"><span>Palpations</span></th>
          <th md-column md-order-by="ranges-of-motion"><span>Ranges Of Motion</span></th>
          <th md-column ng-hide="!editing"><span>Delete</span></th>
        </tr>
        </thead>
        <tbody md-body>
        <tr md-row md-select="component" md-select-id="{{component.id}}" ng-repeat="component in components | filter: query.filter | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit">
          <td md-cell ng-click="editName($event, component)" ng-class="(editing == true) ? 'cell-editing' : '' ">
            {{component.name}}
          </td>
          <td md-cell>
            <md-select placeholder="System" ng-model="component.system.name" md-on-close="editSystem(component)" ng-disabled="!editing">
              <md-option ng-value="system.name" ng-repeat="system in allSystems | orderBy: 'name'">
                {{system.name}}
              </md-option>
            </md-select>
          </td>
          <td md-cell ng-click="editInspection($event, component)" ng-class="(editing == true) ? 'cell-editing' : '' ">
            {{component.inspection}}
          </td>
          <td md-cell ng-click="editNotes($event, component)" ng-class="(editing == true) ? 'cell-editing' : '' ">
            {{component.notes}}
          </td>
          <td md-cell>
            <md-button class="md-primary" ng-click="" aria-label="muscles">
              {{(component.muscles.length) ? component.muscles.length : 0}} {{(component.muscles.length == 1) ? "Muscle" : "Muscles"}}
            </md-button>
          </td>
          <td md-cell>
            <md-button class="md-primary" ng-click="" aria-label="palpations">
              {{(component.palpations.length) ? component.palpations.length : 0}} {{(component.palpations.length == 1) ? "Palpation" : "Palpations"}}
            </md-button>
          </td>
          <td md-cell>
            <md-button class="md-primary" ng-click="" aria-label="ranges-of-motion">
              {{(component.range_of_motons.length) ? component.range_of_motons.length : 0}} {{(component.range_of_motons.length == 1) ? "Range of Motion" : "Ranges of Motion"}}
            </md-button>
          </td>
          <td md-cell ng-hide="!editing">
            <md-button class="md-icon-button" ng-click="delete(component)" aria-label="delete">
              <md-icon class="material-icons md-warn md-hue-2" style="fill: inherit">delete</md-icon>
            </md-button>
          </td>
        </tr>
        </tbody>
      </table>
    </md-table-container>
    <md-table-pagination md-page-select md-limit="query.limit" md-page="query.page" md-total="{{components.length}}"></md-table-pagination>

    <md-button class="md-fab" ng-click="newComponent($event)" aria-label="add">
      <md-icon class="material-icons">add</md-icon>
    </md-button>

  </md-card>
</md-content>