<md-content>
	<h1>Clinical Skills App Project</h1>
	<h2>Development Data Server</h2>
	<h3>West Virginia University: School of Medicine</h3>
	<p>
		This website is dedicated to serving data to the mobile application clients for the Clinical Skills Application. This system is not intended to be deployed into production.
	</p>
</md-content>