<md-content flex style="padding: 0.75%;" ng-controller="LandingController" ng-cloak>
  <md-grid-list md-cols-xs="3" md-cols-md="4" md-cols-gt-md="5" md-row-height="1:1" md-gutter="0.75%">
    <md-grid-tile ng-click="navigate(resource)" ng-repeat="resource in resources" style="background: #66BB6A;" md-rowspan="1" md-colspan="1">
      <h1 class="count-text">{{resource.count}}</h1>
      <md-grid-tile-footer>
        <h3>{{resource.name}}</h3>
      </md-grid-tile-footer>
    </md-grid-tile>
  </md-grid-list>
</md-content>