/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 */
/* line 17, /Users/Nick/Developer/clinical-skills-data-server/app/assets/stylesheets/application.scss */
.md-sidenav-left {
  background-color: #2196F3;
}

/* line 21, /Users/Nick/Developer/clinical-skills-data-server/app/assets/stylesheets/application.scss */
#sidebar-header {
  background-color: #2196F3;
  color: white;
}

/* line 26, /Users/Nick/Developer/clinical-skills-data-server/app/assets/stylesheets/application.scss */
.sidebar-button {
  text-align: left;
  color: white;
}

/* line 31, /Users/Nick/Developer/clinical-skills-data-server/app/assets/stylesheets/application.scss */
.edit-dialog {
  min-height: 80%;
  max-height: 80%;
}

/* line 36, /Users/Nick/Developer/clinical-skills-data-server/app/assets/stylesheets/application.scss */
.search-bar {
  width: 100%;
  margin: 0;
  border: none;
  color: rgba(0, 0, 0, 0.87);
}

/* line 43, /Users/Nick/Developer/clinical-skills-data-server/app/assets/stylesheets/application.scss */
.search-bar:focus {
  outline: none;
}

/* line 47, /Users/Nick/Developer/clinical-skills-data-server/app/assets/stylesheets/application.scss */
.md-toolbar-tools > span {
  font-size: 13pt;
}

/* line 51, /Users/Nick/Developer/clinical-skills-data-server/app/assets/stylesheets/application.scss */
.cell-editing {
  text-decoration: underline;
}

/* line 55, /Users/Nick/Developer/clinical-skills-data-server/app/assets/stylesheets/application.scss */
.primary-button > * {
  color: white;
}
