<md-dialog flex="50">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h1>Components for {{system.name}}</h1>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="hide()" aria-label="close">
                <md-icon class="material-icons">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-toolbar class="md-table-toolbar md-default">
        <div class="md-toolbar-tools">
            <md-icon class="material-icons">search</md-icon>
            <form flex name="filter.form">
                <input autofocus class="search-bar" type="text" ng-model="query.filter" placeholder="Search">
            </form>
            <md-button class="md-icon-button" ng-click="query.filter = ''" aria-label="clear">
                <md-icon class="material-icons">clear_all</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-table-container>
        <table md-table>
            <thead md-head md-order="query.order">
            <tr md-row>
                <th md-column md-order-by="name"><span>Name</span></th>
                <th md-column ng-hide="!editing"><span>Remove</span></th>
            </tr>
            </thead>
            <tbody md-body>
            <tr md-row md-select="component" md-select-id="{{component.id}}" ng-repeat="component in components | filter: query.filter | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit">
                <td md-cell>
                    {{component.name}}
                </td>
                <td md-cell ng-hide="!editing">
                    <md-button class="md-icon-button" ng-click="remove(component)" aria-label="use">
                        <md-icon class="material-icons md-warn md-hue-2" style="fill: inherit">delete</md-icon>
                    </md-button>
                </td>
            </tr>
            </tbody>
        </table>
    </md-table-container>
    <md-table-pagination md-page-select md-limit="query.limit" md-page="query.page" md-total="{{components.length}}"></md-table-pagination>

    <md-dialog-actions layout="row">
        <md-button class="md-raised md-primary" ng-click="cancel()" aria-label="cancel">Cancel</md-button>
        <span flex></span>
        <md-button class="md-raised md-primary" ng-click="save()" aria-label="save">Save</md-button>
    </md-dialog-actions>
</md-dialog>