<md-dialog flex="40">

	<md-toolbar>
      <div class="md-toolbar-tools">
        <h1>New System</h1>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="close()" aria-label="close">
          <md-icon class="material-icons">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
    	<form name="newSystemForm">

    		<div layout="row">
    			<div flex>
	    			<md-input-container class="md-block">
		    			<label>Name</label>
	    				<input type="text" name="name" ng-model="newSystem.name" required>
	    				<div ng-messages="newSystemForm.name.$error">
      						<div ng-message="required">Name is a required field</div>
    					</div>
	    			</md-input-container>
    			</div>
    		</div>

    		<div layout="row">
    			<md-input-container class="md-block">
    				<label>Details</label>
	    			<textarea name="details" ng-model="newSystem.details" rows="5" md-select-on-focus required></textarea>
    				<div ng-messages="newSystemForm.details.$error">
  						<div ng-message="required">Details is a required field</div>
					</div>
    			</md-input-container>
    		</div>

    	</form>
    </md-dialog-content>

    <md-dialog-actions layout="row">
    	<span flex></span>
    	<md-button class="md-raised md-primary" ng-click="create()" aria-label="create">Create</md-button>
	</md-dialog-actions>

</md-dialog>