<md-dialog flex="50">

    <md-toolbar>
        <div class="md-toolbar-tools">
            <h1>New Software Acknowledgement</h1>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="close()" aria-label="close">
                <md-icon class="material-icons">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-content style="padding-left: 5%; padding-right: 5%;">
        <form name="newSoftwareAcknowledgementForm">

            <div layout="row">
                <div flex>
                    <md-input-container class="md-block" flex>
                        <label>Name</label>
                        <input type="text" name="name" ng-model="newSoftwareAcknowledgement.name" required>
                        <div ng-messages="newSoftwareAcknowledgementForm.name.$error">
                            <div ng-message="required">Name is a required field</div>
                        </div>
                    </md-input-container>
                </div>
            </div>

            <div layout="row">
                <div flex>
                    <md-input-container class="md-block" flex>
                        <label>Link</label>
                        <input type="text" name="link" ng-model="newSoftwareAcknowledgement.link" required>
                        <div ng-messages="newSoftwareAcknowledgementForm.link.$error">
                            <div ng-message="required">Link is a required field</div>
                        </div>
                    </md-input-container>
                </div>
            </div>

        </form>
    </md-content>

    <div flex></div>

    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button class="md-raised md-primary" ng-click="create()" aria-label="create">Create</md-button>
    </md-dialog-actions>

</md-dialog>