<md-sidenav id="sidebar" layout="column" class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
  <md-toolbar id="sidebar-header" class="md-tall">
    <span flex></span>
    <div layout="column" class="md-toolbar-tools-bottom inset">
      <div>Clinical Skills</div>
      <div>West Virginia University</div>
      <div>School of Osteopathic Medicine</div>
    </div>
  </md-toolbar>
  <md-divider></md-divider>
  <md-button type="button" href="<%= root_url %>" style="text-align: left; color: white">Home</md-button>
  <md-divider></md-divider>
  <md-button type="button" href="<%= root_url %>systems" style="text-align: left; color: white">Systems</md-button>
  <md-divider></md-divider>
  <md-divider></md-divider>
</md-sidenav>