<md-dialog flex="50">

    <md-toolbar>
        <div class="md-toolbar-tools">
            <h1>New Exam Technique</h1>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="close()" aria-label="close">
                <md-icon class="material-icons">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-content style="padding-left: 5%; padding-right: 5%;">
        <form name="newExamTechniqueForm">

            <div layout="row">
                <div flex>
                    <md-input-container class="md-block" flex>
                        <label>Name</label>
                        <input type="text" name="name" ng-model="newExamTechnique.name" required>
                        <div ng-messages="newExamTechniqueForm.name.$error">
                            <div ng-message="required">Name is a required field</div>
                        </div>
                    </md-input-container>
                </div>
            </div>

            <div layout="row">
                <md-input-container class="md-block" flex>
                    <md-select placeholder="System" ng-model="selectedSystem">
                        <md-option ng-value="system" ng-repeat="system in allSystems | orderBy: 'name'">
                            {{system.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>

            <div layout="row">
                <md-input-container class="md-block" flex>
                    <label>Details</label>
                    <textarea name="details" ng-model="newExamTechnique.details" rows="5"></textarea>
                </md-input-container>
            </div>

        </form>
    </md-content>

    <div flex></div>

    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button class="md-raised md-primary" ng-click="create()" aria-label="create">Create</md-button>
    </md-dialog-actions>

</md-dialog>