<script type="text/javascript" src="<%= asset_path 'new_image_link_dialog_controller.js' %>"></script>
<script type="text/javascript" src="<%= asset_path 'image_link_edit_exam_techniques_dialog_controller.js' %>"></script>
<script type="text/javascript" src="<%= asset_path 'image_link_edit_special_tests_dialog_controller.js' %>"></script>
<md-content layout="row" flex ng-controller="ImageLinksController">
  <md-card flex ng-cloak>
    <md-toolbar class="md-table-toolbar md-default">
      <div class="md-toolbar-tools">
        <md-icon class="material-icons">search</md-icon>
        <form flex title="filter.form">
          <input autofocus class="search-bar" type="text" ng-model="query.filter" placeholder="Search">
        </form>
        <md-button class="md-icon-button" ng-click="query.filter = ''" aria-label="clear">
          <md-icon class="material-icons">clear_all</md-icon>
        </md-button>
        <md-button ng-cloak class="md-raised" ng-click="editing = !editing" ng-hide="editing" aria-label="edit">Edit</md-button>
        <md-button ng-cloak class="md-raised md-primary md-hue-2 primary-button" ng-click="done()" ng-show="editing" aria-label="save">Done</md-button>
        <md-button class="md-raised md-primary primary-button" ng-click="newImageLink($event)" aria-label="add">Add</md-button>
      </div>
    </md-toolbar>
    <md-table-container flex>
      <table md-table md-progress="imageLinksPromise">
        <thead md-head md-order="query.order">
        <tr md-row>
          <th md-column md-order-by="title"><span>Title</span></th>
          <th md-column md-order-by="link"><span>Link</span></th>
          <th md-column md-order-by="exam-techniques"><span>Exam Techniques</span></th>
          <th md-column md-order-by="special-tests"><span>Special Tests</span></th>
          <th md-column ng-hide="!editing"><span>Delete</span></th>
        </tr>
        </thead>
        <tbody md-body>
        <tr md-row md-select="imageLink" md-select-id="{{imageLink.id}}" ng-repeat="imageLink in imageLinks | filter: query.filter | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit">
          <td md-cell ng-click="editTitle($event, imageLink)" ng-class="(editing == true) ? 'cell-editing' : ''">
            {{imageLink.title}}
          </td>
          <td md-cell ng-click="editLink($event, imageLink)" ng-class="(editing == true) ? 'cell-editing' : ''">
            {{imageLink.link}}
          </td>
          <td md-cell>
            <md-button class="md-primary" ng-click="editExamTechniques(imageLink)" aria-label="image-link">
              {{(imageLink.exam_techniques.length) ? imageLink.exam_techniques.length : 0}}
            </md-button>
          </td>
          <td md-cell>
            <md-button class="md-primary" ng-click="editSpecialTests(imageLink)" aria-label="image-link">
              {{(imageLink.special_tests.length) ? imageLink.special_tests.length : 0}}
            </md-button>
          </td>
          <td md-cell ng-hide="!editing">
            <md-button class="md-icon-button" ng-click="delete(imageLink)" aria-label="delete">
              <md-icon class="material-icons md-warn md-hue-2" style="fill: inherit">delete</md-icon>
            </md-button>
          </td>
        </tr>
        </tbody>
      </table>
    </md-table-container>

    <md-table-pagination md-page-select md-boundary-links md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page" md-total="{{imageLinks.length}}"></md-table-pagination>

  </md-card>

</md-content>