// Place all the styles related to the Landing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.count-text {
  color: white;
  opacity: 0.95;
  font-size: 5vw;
}