// Place all the styles related to the subsystems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search-bar {
  width: 100%;
  margin: 0;
  border: none;
  color: rgba(0, 0, 0, 0.87);
}

.search-bar:focus {
  outline: none;
}

.md-toolbar-tools > span {
	font-size: 13pt;
}

.end-edit-button > * {
	color: white;
}