<md-dialog flex="50" ng-keyup="enterKeyListener($event)">

    <md-toolbar>
        <div class="md-toolbar-tools">
            <h1>New Muscle</h1>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="close()" aria-label="close">
                <md-icon class="material-icons">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-content style="padding-left: 5%; padding-right: 5%;">
        <form name="newMuscleForm">

            <div layout="row">
                <div flex>
                    <md-input-container class="md-block" flex>
                        <label>Name</label>
                        <input type="text" name="name" ng-model="newMuscle.name" required>
                        <div ng-messages="newMuscleForm.name.$error">
                            <div ng-message="required">Name is a required field</div>
                        </div>
                    </md-input-container>
                </div>
            </div>

            <div layout="row">
                <div flex>
                    <md-input-container class="md-block" flex>
                        <md-select placeholder="Component" ng-model="selectedComponent">
                            <md-option ng-value="component" ng-repeat="component in allComponents | orderBy: 'name'">
                                {{component.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
            </div>

        </form>
    </md-content>

    <div flex></div>

    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button class="md-raised md-primary" ng-click="create()" aria-label="create">Create</md-button>
    </md-dialog-actions>

</md-dialog>